<% include header %>
	<%
		photoArr.forEach((photo) => {


	%>
	<div height="40px" width="40px">
		<img class="list-group" src="<%=photo.small%>" alt="<%=photo.title%>">
	</div>
	<%		
		});
	%>
<% include footer %>