<% include ../common/header %>

<div class="main">
	<div class="container">
		<div class="error-404 text-center">
			<h1><%=status%></h1>
				<p>Sorry!</p>
				<a class="b-home" href="/">back home</a>
		</div>
	</div>
</div>

<% include ../common/footer %>
