<% include header %>
	<!-- <%=rows%> rows 보는 것--> 
	<table class="table">
		<%
			rows.forEach((row)=>{
				%>
				<tr><td>
				<%=row.id%>
				</td><td>
				 <%=row.name%>
				</td>
				</tr>

				<%
			});
		%>
		
	</table>

<% include footer %>